<html>
  <head></head>
  <body>
    <div id="wrapper">
      <header>
        Header
      </header>
      <section id="main">
        <%= yield %>
      </section>
      <footer>
        Footer
      </footer>
    </div>
  </body>
</html>