@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 9999999;
  @include box_sizing;
}