<footer class="footer">
  <div class="left_footer">
    <%= logo('footer_logo.png') %>
  </div>
  <div class="center_footer"> Template name. All Rights Reserved 2008<br />
    <a href="http://csscreme.com"><%= image_tag('csscreme.jpg') %></a><br />
    <%= image_tag('payment.gif') %>
  </div>
  <nav class="right_footer" data-hook="nav-footer">
    <a href="#">home</a>
    <a href="#">about</a>
    <a href="#">sitemap</a>
    <a href="#">rss</a>
    <a href="contact.html">contact us</a>
  </nav>
</footer>