<nav id="menu_tab" data-hook="main-nav">
  <div class="left_menu_corner"></div>
  <ul class="menu">
  <% if @main_navigations.any? %>
    <% @main_navigations.each do |navigation| %>
      <% url = navigation.link.blank? ? spree.root_path : navigation.link %>
      <li>
        <%= navigation.html_before %>
        <%= link_to navigation.name, url , class: navigation.html_class %>
      </li>
      <li class="divider"></li>
    <% end %>
  <% end %>
    <li class="currencies" data-hook><%= link_to_cart %></li>
    <script>Spree.fetch_cart()</script>
  </ul>
  <div class="right_menu_corner"></div>
</nav>
