<div class="title_box" data-hook="title-news-letter">Newsletter</div>
<div class="border_box">
  <input type="text" name="newsletter" class="newsletter_input" value="your email"/>
  <a href="#" class="join">join</a>
</div>
<%= render partial: 'spree/shared/ads_left' %>
