<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<aside class="left_content" data-hook="sidebar-left">
  <nav class="left_menu">
    <% @taxonomies.each do |taxonomy| %>
      <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
        <% if taxonomy.root.children.any? %>
          <div class="title_box" data-hook="title-categories">
            <%= Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name) %>
          </div>
          <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
        <% end %>
      <% end %>
    <% end %>
  </nav>
  <%= render partial: 'spree/shared/special_product' %>
  <%= render partial: 'spree/shared/news_letter' %>
</aside>
