<div class="oferte_content">
  <div class="top_divider">
    <%= image_tag('header_divider.png') %>
  </div>
  <div class="oferta">
    <div class="oferta_content">
      <div class="oferta_img">
      <%= image_tag('laptop.png') %>
      </div>
      <div class="oferta_details" data-hook="slide_product">
        <div class="oferta_title">Samsung GX 2004 LM</div>
        <div class="oferta_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
        <a href="details.html" class="details">details</a> </div>
    </div>
    <div class="oferta_pagination"> <span class="current">1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> </div>
  </div>
  <div class="top_divider">
    <%= image_tag('header_divider.png') %>
  </div>
</div>
