<div class="title_box" data-hook="title-special-product">Special Products</div>
<div class="border_box">
  <div class="product_title"><a href="details.html">Motorola 156 MX-VL</a></div>
  <div class="product_img"><a href="details.html"><%= image_tag('laptop.png') %></a></div>
  <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
</div>