<div class="top_bar" data-hook="top-bar">
  <%= render partial: 'spree/shared/search'%>
  <div class="languages">
    <div class="lang_text">Languages:</div>
    <a href="#" class="lang"><%= image_tag('en.gif') %></a>
    <a href="#" class="lang"><%= image_tag('de.gif') %></a>
  </div>
</div>